
.col-sm-2 .caption h3 {
	font-size: 16px;
}
.col-sm-1 .caption h3 {
	font-size: 13px;
}

.sponsors-section ul {
    text-align: center;
    max-width: 840px;
    margin: 40px auto;
    overflow: hide;
}

.sponsors-section .partners {
    width: 45%;
    padding: 10px 10px;
    margin: 10px;
}

.sponsors-section .partners img {
    max-width: 100%;
}
    

.sponsors-section .tier1 {
    width: 100%;
    padding: 10px 10px;
}

.sponsors-section .tier2 {
    width: 35%;
    padding: 10px 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.sponsors-section .tier3 {
    width: 40%;
    padding: 10px 10px;
}


.sponsors-section .tier4 {
    width: 29%;
    padding: 10px 10px;
}

.sponsors-section .tier5 {
    width: 23%;
    padding: 10px 10px;
}

.sponsors-section .citris {
    width: 25%;
    padding: 10px 10px;
}

.sponsors-section img {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.sponsors-section .tier1 img {
    width: 100%;
    vertical-align: middle;
}

.sponsors-section .tier2 img {
    max-height: 150px;
    width: 100%;
}

.sponsors-section .tier3 img {
    max-width: 100%;
}

.sponsors-section .tier4 img {
    max-width: 100%;
    max-height: 100px;
}

.sponsors-section .tier5 img {
    max-height: 80px;
    max-width: 100%;
}

.sponsors-section li {
    /* background-color: rgba(255,255,255,0.4); */
    margin: 1px;
    display: inline-block;
    border-radius: 10px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;    
}

.sponsors-section li:hover {
    background-color: rgba(255,255,255,0.20);
    filter: blur(5px);
    -webkit-filter: brightness(110%);
}
